<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Tags</title>
</head>
<body>
    
    <h1><%= title %></h1>

    <h3>Current Seconds <%= seconds %></h3>

    <!-- <%  %> Tag to execute javascript code -->
    <% if (seconds % 2 == 0) { %>
        <% for (let i = 0; i < items.length; i++) { %>
            <ul>
                <li><%= items[i] %></li>
            </ul>
        <% } %>
    <% } else { %>
        <p>No items to display.</p>
    <% } %>
 
    <!-- <%-  %> Tag to render HTML -->
    <p><%- htmlContent %></p>

     <!-- include("") method to insert another EJS file in current EJS file -->
    <%- include("footer.ejs") %>
</body>

</html>